<nav class="header">
  <a class="floatl" routerLink="/home/dashboard" routerLinkActive="active">Dash Board</a>
  <a class="floatl" routerLink="/home/bindingexamples" routerLinkActive="active">Binding Examples</a>
  <a class="floatl" routerLink="/home/inputsexamples" routerLinkActive="active">Input Examples</a>
  <a class="floatl" routerLink="/home/about" routerLinkActive="active">About</a>

  <!--
  <a class="floatr" (click)="logout()">Logout</a> -->
  <!-- the button is first of the right -->
  <button mat-raised-button class="floatr large" color="primary" (click)="logout()">Logout</button>
  <!-- Name is the second of the right-->
  <a class="floatr">Hallo, {{username}}</a>
</nav>
<router-outlet></router-outlet>
