# Created by .ignore support plugin (hsz.mobi)
/.idea
week3.iml

# OS or Editor folders
.DS_Store
.cache
.project/
.settings
.tmproj

# target might be generated
**/target/

.vs
nbproject
Thumbs.db


