/*

differences between CSS, SCSS & SASS
https://www.rechnerhaus.de/en/blog/difference-between-css-scss-sass

information and code example of CSS
https://www.w3schools.com/css/

short introduction of scss:
https://dzone.com/articles/introduction-of-scss

*/

