/*
differences between CSS, SCSS & SASS
https://www.rechnerhaus.de/en/blog/difference-between-css-scss-sass

information and code example of CSS
https://www.w3schools.com/css/

short introduction of scss:
https://dzone.com/articles/introduction-of-scss
*/
$primary-color: #0147A7; // #0147A7
$secondary-color: white; // white

.top {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  // margin-top: 50px;
  display: block;
  background-color: $primary-color;
}

h1 {
  color: $secondary-color;
}

/* show large material button */
.mat-button.large {
  width: 192px;
  height: 48px;
  line-height: 48px;
  font-size: larger;
}

